
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Arvo">

 </head>



<div>



<p id="notice"><%= notice %></p>

<h1 style="color:#a83301; font-family: 'Arvo', serif; font-size: 36px;">An Iron Yard Gallery of Books</h1>

  <div style="text-align:right; color:#d8d8d8;"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>  •  <%= link_to 'New Book', new_book_path %></div>
<div>
  <br />
</div>

<table style="border-color:black; border-style: solid; border-radius: 6px; border-width: 1px; padding: 0px 30px 30px 30px; background-color:#f9fcf2;">
  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td style="color:#a83301; font-family: 'Archivo Narrow', sans-serif; font-size: 30px; line-height: 35px;"><br /><%= book.title %></td>
      </tr>
      <tr>
        <td style="font-family: 'Archivo Narrow', sans-serif; font-size: 24px; line-height: 20px;">by: <%= book.author %></td>
      </tr>
      <tr>
        <td>
          <hr />
        </td>
      </tr>
      <tr>
        <td><%= book.synopsis %></td>
      </tr>
      <tr>
        <td><b>Learn more at:</b> <%= book.url %></td>
      </tr>
    </tbody>
</table>

<div>
<br />
</div>

<table>
  <tbody>

<tr>
  <td class="btn"><%= link_to 'Show Publisher Info', book %></td>
  <td class="btn"><%= link_to 'Edit', edit_book_path(book) %></td>
  <td class="btn"><%= link_to 'Burn', book, method: :delete, data: { confirm: 'Do you want to burn this book?' } %></td>
</tr>
    <% end %>
  </tbody>
</table>

<div>
  <br />
  <br />
</div>







<!-- <div class="btn">
<%= link_to 'New Book', new_book_path %>
</div> -->

</html>
